FE_BE_ALL="all"

# Config for Backend
# Bootstrap
BE_PROJECT_CONFIG_FILE="materialmanagement"
BE_LOGSTASH_APPNAME="材料管理スシステム"
# Docker
BE_SYSTEM_PORT="8083"
BE_SYSTEM_NAME="materialmanagement"
BE_CONTAINER_NAME="be_material"

# Config for Frontend
# Docker
FE_SYSTEM_PORT="4201"
FE_SYSTEM_NAME="MaterialManagement"
FE_CONTAINER_NAME="fe_material"