FE_BE_ALL="all"

# Config for Backend
BE_PROJECT_CONFIG_FILE="productcontrol"
BE_LOGSTASH_APPNAME="生産管理スシステム"
BE_SYSTEM_PORT="8084"
BE_SYSTEM_NAME="productcontrol"
BE_CONTAINER_NAME="be_product"

# Config for Frontend
FE_SYSTEM_PORT="4202"
FE_SYSTEM_NAME="ProductionControl"
FE_CONTAINER_NAME="fe_product"