FE_BE_ALL="all"

# Config for Backend
BE_PROJECT_CONFIG_FILE="maintenanceservice"
BE_LOGSTASH_APPNAME="保守サービスシステム"
BE_SYSTEM_PORT="8086"
BE_SYSTEM_NAME="maintenanceservice"
BE_CONTAINER_NAME="be_maintenance"

# Config for Frontend
FE_SYSTEM_PORT="4204"
FE_SYSTEM_NAME="MaintenanceService"
FE_CONTAINER_NAME="fe_maintenance"