FE_BE_ALL="all"

# Config for Backend
BE_PROJECT_CONFIG_FILE="datawarehouse"
BE_LOGSTASH_APPNAME="データウェアハウススシステム"
BE_SYSTEM_PORT="8088"
BE_SYSTEM_NAME="datawarehouse"
BE_CONTAINER_NAME="be_datawarehouse"

# Config for Frontend
FE_SYSTEM_PORT="4206"
FE_SYSTEM_NAME="DataWarehouse"
FE_CONTAINER_NAME="fe_datawarehouse"
